.ticket-rip {
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(
    -45deg,
    #000,
    #000 10px,
    #f5f5f5 10px,
    #f5f5f5 20px
  );
  margin-top: -1px;
}



.ticket-robek-bawah {
  position: relative;
  background-color: #1f2937; /* sesuai tiket */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    95% 100%,
    90% 90%,
    85% 100%,
    80% 90%,
    75% 100%,
    70% 90%,
    65% 100%,
    60% 90%,
    55% 100%,
    50% 90%,
    45% 100%,
    40% 90%,
    35% 100%,
    30% 90%,
    25% 100%,
    20% 90%,
    15% 100%,
    10% 90%,
    5% 100%,
    0% 90%
  );
}

